body {
    background: #e5e5e5;
}

ul, 
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

li {
  list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    width: 1328px;
    margin: 0 auto;
    padding: 0 11px;
}

.header {
    font-size: 22px;
    padding: 20px 0;
    background-color: #e5e5e5;
}


.header__wrapper {
    display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo {
    max-width: 52px;
    padding: 0 52px;
}

.logo {
    width: 100%;
}

.header__list {
    display: flex;
    flex-direction: row;
    padding: 0 12px;
    
}

.header__item:not(:last-child) {
    margin-right: 40px;
}

/* header */

.preview {
    background-image: url(/assets/images/preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 60%;
}

.preview__wrapper {
    min-height:657px;
}

.preview__title {
    font-size: 72px;
    text-align: center;
    color: #fff;
}

.preview__first-title {
    padding: 80px 0 10px 0;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.preview__second-title {
    font-style: italic;
    font-family: "Open Sans", sans-serif;
}

/* preview */

.desc-services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
    z-index: 3;
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

.decs-first,
.decs-third {
    position: relative;
    top: -18%;
}

.decs-second,
.decs-fourth {
    position: relative;
    top: -44%;
}

.desc-services__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 30px 20px;
    max-width: 266px;
    max-height:506px;
    border-radius: 8%;
    text-align: center;
}

.desc-services__img-wrapper {
  background-color: #e5e5e5;
  border-radius: 50%;
  padding: 20px;
}

.desc-services__img {
  max-width: 92px;
  max-height: 52px;
  width: 100%;
  object-fit: contain;
}

.desc-services__title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    margin: 20px 0;
}

.desc-services__text-spec {
    line-height: 20px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.desc-services__link-text {
    margin: 18px 0 30px 0;
    text-transform: uppercase;
    text-decoration: underline;
}

/* desc-services */